Archivos

In [7]:
# importar librer√≠as
import pandas as pd
import numpy as np

Leer csv

In [9]:
# leer dataframe
df1=pd.read_csv('datasets/athlete_events.csv')
df2=pd.read_csv('datasets/PopularCreativeTypes.csv')

In [10]:
df1.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [18]:
df2.head()

,RANK,CREATIVE TYPES,MOVIES,TOTAL GROSS,AVERAGE GROSS,MARKET SHARE
0,1.0,Contemporary Fiction,"7,442","$96,203,727,036","$12,927,133",40.46%
1,2.0,Kids Fiction,564,"$32,035,539,746","$56,800,602",13.47%
2,3.0,Science Fiction,724,"$29,922,660,857","$41,329,642",12.59%
3,4.0,Fantasy,759,"$21,724,062,575","$28,621,953",9.14%
4,5.0,Super Hero,129,"$20,273,157,911","$157,156,263",8.53%

In [23]:
print(df1.Games.unique().tolist())

['1992 Summer', '2012 Summer', '1920 Summer', '1900 Summer', '1988 Winter', '1992 Winter', '1994 Winter', '1932 Summer', '2002 Winter', '1952 Summer', '1980 Winter', '2000 Summer', '1996 Summer', '1912 Summer', '1924 Summer', '2014 Winter', '1948 Summer', '1998 Winter', '2006 Winter', '2008 Summer', '2016 Summer', '2004 Summer', '1960 Winter', '1964 Winter', '1984 Winter', '1984 Summer', '1968 Summer', '1972 Summer', '1988 Summer', '1936 Summer', '1952 Winter', '1956 Winter', '1956 Summer', '1960 Summer', '1928 Summer', '1976 Summer', '1980 Summer', '1964 Summer', '2010 Winter', '1968 Winter', '1906 Summer', '1972 Winter', '1976 Winter', '1924 Winter', '1904 Summer', '1928 Winter', '1908 Summer', '1948 Winter', '1932 Winter', '1936 Winter', '1896 Summer']

In [28]:
datos_judo=df1.loc[df1.Sport=='Judo']
datos_judo

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
160,64,M'Bairo Abakar,M,31.0,NaN,NaN,Chad,CHA,1992 Summer,1992,Summer,Barcelona,Judo,Judo Men's Half-Middleweight,NaN
180,78,Salim Abanoz,M,26.0,NaN,NaN,Turkey,TUR,1996 Summer,1996,Summer,Atlanta,Judo,Judo Men's Lightweight,NaN
412,229,Mohamed Ali Abdelaal,M,26.0,175.0,81.0,Egypt,EGY,2016 Summer,2016,Summer,Rio de Janeiro,Judo,Judo Men's Half-Middleweight,NaN
435,242,Ahmed Abdelrahman,M,20.0,165.0,60.0,Egypt,EGY,2016 Summer,2016,Summer,Rio de Janeiro,Judo,Judo Men's Extra-Lightweight,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270853,135459,Oleg Zurabiani,M,19.0,172.0,64.0,Soviet Union,URS,1976 Summer,1976,Summer,Montreal,Judo,Judo Men's Lightweight,NaN
270918,135482,Goran uvela,M,27.0,184.0,93.0,Yugoslavia,YUG,1976 Summer,1976,Summer,Montreal,Judo,Judo Men's Half-Heavyweight,NaN
270981,135503,Zurab Zviadauri,M,23.0,182.0,90.0,Georgia,GEO,2004 Summer,2004,Summer,Athina,Judo,Judo Men's Middleweight,Gold
271032,135535,Claudia Antoinette Zwiers,F,22.0,181.0,78.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Judo,Judo Women's Middleweight,Bronze
271033,135535,Claudia Antoinette Zwiers,F,30.0,181.0,78.0,Netherlands,NED,2004 Summer,2004,Summer,Athina,Judo,Judo Women's Half-Heavyweight,NaN

In [26]:
datos_judo.Sex.count()

3801

In [29]:
datos_judo.Sex.value_counts()

M    2708
F    1093
Name: Sex, dtype: int64

In [30]:
datos_judo.Age.max()

43.0

In [31]:
datos_judo.Age.min()

14.0

In [32]:
datos_judo[datos_judo.Age==15]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
143860,72214,Erin Marc Kwai-lin Lum,F,15.0,NaN,NaN,Guam,GUM,1992 Summer,1992,Summer,Barcelona,Judo,Judo Women's Middleweight,NaN

In [33]:
datos_judo[datos_judo.Age==43]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
145940,73239,Orlando Madrigal Valverde,M,43.0,163.0,78.0,Costa Rica,CRC,1964 Summer,1964,Summer,Tokyo,Judo,Judo Men's Middleweight,NaN

In [34]:
ord_weight=datos_judo.sort_values(by=['Weight'])
ord_weight

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
247906,124131,Vn Ngc T,F,24.0,158.0,46.0,Vietnam,VIE,2012 Summer,2012,Summer,London,Judo,Judo Women's Extra-Lightweight,NaN
247907,124131,Vn Ngc T,F,28.0,158.0,46.0,Vietnam,VIE,2016 Summer,2016,Summer,Rio de Janeiro,Judo,Judo Women's Extra-Lightweight,NaN
95034,48120,Joyce Heron,F,31.0,147.0,47.0,Great Britain,GBR,1996 Summer,1996,Summer,Atlanta,Judo,Judo Women's Extra-Lightweight,NaN
155619,78116,Lauren Michele Meece,F,17.0,157.0,48.0,United States,USA,2000 Summer,2000,Summer,Sydney,Judo,Judo Women's Extra-Lightweight,NaN
30495,15722,Lyubov Aleksandrovna Bruletova,F,26.0,150.0,48.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Judo,Judo Women's Extra-Lightweight,Silver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264797,132515,Yang Jong-Ok,M,28.0,NaN,NaN,South Korea,KOR,1992 Summer,1992,Summer,Barcelona,Judo,Judo Men's Middleweight,NaN
266508,133320,Yu Hui-Jun,F,19.0,NaN,NaN,South Korea,KOR,1992 Summer,1992,Summer,Barcelona,Judo,Judo Women's Extra-Lightweight,NaN
266614,133371,Yu Wai Seung,F,20.0,NaN,NaN,Hong Kong,HKG,1992 Summer,1992,Summer,Barcelona,Judo,Judo Women's Half-Lightweight,NaN
266781,133466,Yun Hyeon,M,26.0,NaN,NaN,South Korea,KOR,1992 Summer,1992,Summer,Barcelona,Judo,Judo Men's Extra-Lightweight,Silver
266812,133484,Yun Sang-Sik,M,23.0,NaN,NaN,South Korea,KOR,1992 Summer,1992,Summer,Barcelona,Judo,Judo Men's Half-Heavyweight,NaN

In [35]:
ord_age=datos_judo.sort_values(by=['Age'])
ord_age

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
46169,23829,Ludmila Cristea,F,14.0,165.0,55.0,Moldova,MDA,2000 Summer,2000,Summer,Sydney,Judo,Judo Women's Lightweight,NaN
143860,72214,Erin Marc Kwai-lin Lum,F,15.0,NaN,NaN,Guam,GUM,1992 Summer,1992,Summer,Barcelona,Judo,Judo Women's Middleweight,NaN
267755,133947,Danielle Zangrando,F,16.0,162.0,57.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Judo,Judo Women's Lightweight,NaN
167582,84197,Zsuzsa Nagy,F,16.0,178.0,64.0,Hungary,HUN,1992 Summer,1992,Summer,Barcelona,Judo,Judo Women's Half-Middleweight,NaN
209342,105110,Ronny Eduardo Sanabria Mora,M,16.0,167.0,57.0,Costa Rica,CRC,1980 Summer,1980,Summer,Moskva,Judo,Judo Men's Extra-Lightweight,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219279,110161,Henry Sichalwe,M,NaN,NaN,78.0,Zambia,ZAM,1980 Summer,1980,Summer,Moskva,Judo,Judo Men's Half-Middleweight,NaN
220493,110744,Philippe Simo,M,NaN,177.0,78.0,Cameroon,CMR,1980 Summer,1980,Summer,Moskva,Judo,Judo Men's Half-Middleweight,NaN
225584,113358,Carlos Soto Molina,M,NaN,NaN,NaN,Honduras,HON,1984 Summer,1984,Summer,Los Angeles,Judo,Judo Men's Half-Lightweight,NaN
237494,119119,Asafu Tembo,M,NaN,NaN,78.0,Zambia,ZAM,1984 Summer,1984,Summer,Los Angeles,Judo,Judo Men's Half-Middleweight,NaN
262259,131223,Christophe Wogo,M,NaN,164.0,72.0,Congo (Brazzaville),CGO,1984 Summer,1984,Summer,Los Angeles,Judo,Judo Men's Half-Middleweight,NaN

In [36]:
ord_age[ord_age.Age.notna()]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
46169,23829,Ludmila Cristea,F,14.0,165.0,55.0,Moldova,MDA,2000 Summer,2000,Summer,Sydney,Judo,Judo Women's Lightweight,NaN
143860,72214,Erin Marc Kwai-lin Lum,F,15.0,NaN,NaN,Guam,GUM,1992 Summer,1992,Summer,Barcelona,Judo,Judo Women's Middleweight,NaN
267755,133947,Danielle Zangrando,F,16.0,162.0,57.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Judo,Judo Women's Lightweight,NaN
167582,84197,Zsuzsa Nagy,F,16.0,178.0,64.0,Hungary,HUN,1992 Summer,1992,Summer,Barcelona,Judo,Judo Women's Half-Middleweight,NaN
209342,105110,Ronny Eduardo Sanabria Mora,M,16.0,167.0,57.0,Costa Rica,CRC,1980 Summer,1980,Summer,Moskva,Judo,Judo Men's Extra-Lightweight,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142431,71462,Sandro Luis Lpez Olmos,M,40.0,190.0,120.0,Argentina,ARG,2008 Summer,2008,Summer,Beijing,Judo,Judo Men's Heavyweight,NaN
233959,117345,Miklos Szabo,M,40.0,178.0,108.0,Australia,AUS,1996 Summer,1996,Summer,Atlanta,Judo,Judo Men's Heavyweight,NaN
38118,19587,Carmen Anita Chal Quilumba,F,42.0,176.0,107.0,Ecuador,ECU,2008 Summer,2008,Summer,Beijing,Judo,Judo Women's Heavyweight,NaN
153789,77183,Jos Mba Nchama,M,42.0,NaN,81.0,Equatorial Guinea,GEQ,2008 Summer,2008,Summer,Beijing,Judo,Judo Men's Half-Middleweight,NaN
145940,73239,Orlando Madrigal Valverde,M,43.0,163.0,78.0,Costa Rica,CRC,1964 Summer,1964,Summer,Tokyo,Judo,Judo Men's Middleweight,NaN

In [40]:
sample=df1.loc[(df1.Age.notna())&(df1.Medal.notna())]
sample

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze
271082,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver

In [70]:
df_oro=df.loc[df.Medal=='Gold']
df_oro.Age.min()

13.0

In [72]:
df_oro=df.loc[df.Medal=='Gold']
df_joven=df_oro.loc[df_oro.Age==df_oro.Age.min(),['Name','Age','Medal']]
df_joven

                                      Name   Age Medal
27207                        Hans Bourquin  13.0  Gold
52010   Donna Elizabeth de Varona (-Pinto)  13.0  Gold
73581                           Fu Mingxia  13.0  Gold
78544         Marjorie Gestring (-Redlick)  13.0  Gold
119277                          Kim Yun-Mi  13.0  Gold
200704       Aileen Muriel Riggin (-Soule)  13.0  Gold
268602                         Klaus Zerta  13.0  Gold

In [76]:
df_medal=df.loc[df.Medal.notna()]

In [110]:
df.loc[df.Medal.notna()].max()

ID                                           135563
Name                               ystein Pettersen
Sex                                               M
Age                                              73
Height                                          223
Weight                                          182
Team                                            Zut
NOC                                             ZIM
Games                                   2016 Summer
Year                                           2016
Season                                       Winter
City                                      Vancouver
Sport                                     Wrestling
Event     Wrestling Women's Middleweight, Freestyle
Medal                                        Silver
dtype: object

In [101]:
nombre=df_medal.Name.value_counts().index[0]

In [108]:
df_medal[df_medal.Name==nombre].to_dict('record')[0]

{'ID': 94406,
 'Name': 'Michael Fred Phelps, II',
 'Sex': 'M',
 'Age': 19.0,
 'Height': 193.0,
 'Weight': 91.0,
 'Team': 'United States',
 'NOC': 'USA',
 'Games': '2004 Summer',
 'Year': 2004,
 'Season': 'Summer',
 'City': 'Athina',
 'Sport': 'Swimming',
 'Event': "Swimming Men's 200 metres Freestyle",
 'Medal': 'Bronze'}