# Importar librerías y cargar datos

Importar librerías

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

Cargar datos

In [2]:
df=pd.read_csv('datasets/athlete_events.csv')

# Actividad: Básica <> Avanzada

Crear un programa en Visual Studio que me permita saber cuál es el competidor más veterano que ha recibido medalla (oro, plata o bronce)

In [4]:
# se escoge una muestra limpia del dataframe para la variables 'Medal'
sample=df.loc[(df.Age.notna())&(df.Medal.notna())]
# se buscar al competidor mayor con alguna medalla
competidor_veterano=sample.loc[sample.Age==sample.Age.max()]
# se muestra el registro del competidor
competidor_veterano

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
44584,22984,John (Herbert Crawford-) Copley (Williamson-),M,73.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Graphic Arts",Silver

Crear un programa en Visual Studio que me permita saber cuál es el competidor más joven que ha recibido medalla de oro

In [6]:
# se extrae un dataframe de solo medallas de oro
df_oro=df.loc[df.Medal=='Gold']
# se buscar al competidor más joven (pueden ser más)
competidor_joven_oro=df_oro.loc[df_oro.Age==df_oro.Age.min()]
# se muestran los datos
competidor_joven_oro

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
27207,14142,Hans Bourquin,M,13.0,NaN,NaN,Switzerland,SUI,1928 Summer,1928,Summer,Amsterdam,Rowing,Rowing Men's Coxed Pairs,Gold
52010,26731,Donna Elizabeth de Varona (-Pinto),F,13.0,168.0,61.0,United States,USA,1960 Summer,1960,Summer,Roma,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Gold
73581,37398,Fu Mingxia,F,13.0,160.0,48.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Diving,Diving Women's Platform,Gold
78544,39866,Marjorie Gestring (-Redlick),F,13.0,NaN,NaN,United States,USA,1936 Summer,1936,Summer,Berlin,Diving,Diving Women's Springboard,Gold
119277,60384,Kim Yun-Mi,F,13.0,160.0,48.0,South Korea,KOR,1994 Winter,1994,Winter,Lillehammer,Short Track Speed Skating,"Short Track Speed Skating Women's 3,000 metres...",Gold
200704,100797,Aileen Muriel Riggin (-Soule),F,13.0,142.0,NaN,United States,USA,1920 Summer,1920,Summer,Antwerpen,Diving,Diving Women's Springboard,Gold
268602,134381,Klaus Zerta,M,13.0,165.0,48.0,Germany,GER,1960 Summer,1960,Summer,Roma,Rowing,Rowing Men's Coxed Pairs,Gold

Encuentra al competidor más ganador de la historia y crea un csv con toda su información.

In [20]:
# se eliminan los registros duplicados en una muestra para no contar varias veces un registro; sin embargo, no se limpia los nan
# pues se considera que si existe un registro de una competencia no repetida es porque ganó alguna medalla pese a no estar
# registrada
df_ganador=df.drop_duplicates(keep='first')
# .value_counts() ordena descendetemente por defecto,por lo que el mayor es el nombre del primer registro
nombre_ganador_historico=df_ganador.Name.value_counts().index[0]
# buscar datos y mostrarlos
datos_ganador=df_ganador.loc[df_ganador.Name==nombre_ganador_historico]
# exportar datos del ganador
datos_ganador.to_csv('datasets/datos_ganador_historico.csv',index=False)

In [23]:
# mostrar datos del ganador histórico(comprabando que se pueda leer del .csv, se aprecia que son registros únicos
pd.read_csv('datasets/datos_ganador_historico.csv').head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,106296,Heikki Ilmari Savolainen,M,20.0,172.0,64.0,Finland,FIN,1928 Summer,1928,Summer,Amsterdam,Gymnastics,Gymnastics Men's Individual All-Around,NaN
1,106296,Heikki Ilmari Savolainen,M,20.0,172.0,64.0,Finland,FIN,1928 Summer,1928,Summer,Amsterdam,Gymnastics,Gymnastics Men's Team All-Around,NaN
2,106296,Heikki Ilmari Savolainen,M,20.0,172.0,64.0,Finland,FIN,1928 Summer,1928,Summer,Amsterdam,Gymnastics,Gymnastics Men's Horse Vault,NaN
3,106296,Heikki Ilmari Savolainen,M,20.0,172.0,64.0,Finland,FIN,1928 Summer,1928,Summer,Amsterdam,Gymnastics,Gymnastics Men's Parallel Bars,NaN
4,106296,Heikki Ilmari Savolainen,M,20.0,172.0,64.0,Finland,FIN,1928 Summer,1928,Summer,Amsterdam,Gymnastics,Gymnastics Men's Horizontal Bar,NaN