# Construir Dataframe

In [1]:
import pandas as pd
import numpy as np

In [4]:
diccionario={
    'Nombre':['Ringo','John','Paul','George','Yoko'],
    'Edad':[45,34,42,38,47],
    'Salario':[12000,14000,13000,11000,10000],
    'Genero':['M','M','M','M','F']
}

In [5]:
df=pd.DataFrame(diccionario)
df

   Nombre  Edad  Salario Genero
0   Ringo    45    12000      M
1    John    34    14000      M
2    Paul    42    13000      M
3  George    38    11000      M
4    Yoko    47    10000      F

# Actividad: Básica

Obtén la diferencia entre el salario más alto y el más pequeño.

In [8]:
df.Edad.max()-df.Edad.min()

13

# Actividad: Avanzada